
$dark-blue: #222222;
$pink: #F1E4E6;
$dark-pink: pink;
$gray: #9F9F9F;
$light-gray: #F8F8F8;
$cancel: #C33764;
$secondary: #F2994A;
$standard: #155799;
$submit: #159957;
$white: #F1F2F2;
$transition: all 0.25s ease-in-out;
<<<<<<< HEAD

$desktop-width: 1490px;
$tablet-width: 768px;
$mobile-width: 375px;
=======
>>>>>>> main
