.arrivals{

    .arrivals__heading {
        background: #F8F3F4;
        min-height: 150px;
        display: flex;
        align-items: center;

    }

    .arrivals__heading-titel {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        color: $dark-pink;
        text-transform: uppercase;
    }

    .arrivals__products-size {
    }

    .arrivals__products-items {
        z-index: -1;
        display: flex;
        justify-content: center;
        background-color: #F7F7F7;
    }

    .arrivals__products-item {
        width: auto;
        margin-right: 0%;
    }

    .products-property{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 25px 0 25px;
        width: 30%;
        background: lightblue;
        margin: -35px auto 0 auto;
        padding: 20px 0 20px;
    }

    .products-property__selects{
        display: flex;
        justify-content: center;
    }
}