.options {
<<<<<<< HEAD

=======
>>>>>>> main
    background-color: $dark-blue;
    margin-top: 95px;

    .options__list {
        display: flex;
        justify-content: space-between;
<<<<<<< HEAD

        @include tablet{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
=======
>>>>>>> main
    }
    
    .options__item {
        margin: 100px 0 100px;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
<<<<<<< HEAD

        @include tablet{
            margin: 24px 0 24px;
        }
=======
>>>>>>> main
    }
    
    .options__item-heading {
        @include font(20px, 1);
        color: $light-gray;
        text-align: center;
        margin: 16px 0 16px;
    }
    
    .options__item-text {
        @include font(14px, 1, 300);
        color: $gray;
        text-align: center;
    }
<<<<<<< HEAD

    .options__item_margin-botton{
        @include tablet{
            margin-bottom: 64px;
        }
    }
=======
>>>>>>> main
}



