.promo {
    display: flex;
    margin: 0 0 63px 0;

    .promo__heading-wrapper {
        background-color: $pink;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
<<<<<<< HEAD

        @include tablet{
            padding: 0 0 0 68px;
        }

        @include mobile{
            padding: 0 0 0 83px;
            min-height: 363px;
        }
=======
>>>>>>> main
    }
    
    .promo__heading {
        @include font(48px, 58px, 900);
        text-transform: uppercase;
        position: relative;
<<<<<<< HEAD

        @include tablet{
            @include font(48px, 52px, 900);
        }

        @include mobile{
            @include font(38px, 46px, 900);
        }
=======
>>>>>>> main
    
    }

    .promo__heading:before{
        content: '';
        
        position:absolute;

        top: 5px;
        left: -30px;
        height: 95px;
    
        width: 12px;
<<<<<<< HEAD
        background-color: #F16D7F;
=======
        background-color: $dark-pink;
>>>>>>> main
    }
    
    .promo__sub-heading {
        @include font(37px, 44px, 700, normal);
        display: block;
<<<<<<< HEAD

        @include tablet{
            @include font(34px,39px,700)
        }

        @include mobile{
            @include font(20px, 24px, 700)
        }
=======
>>>>>>> main
    }
    
    .promo__sub-heading-pink {
        color: $dark-pink;
    }
<<<<<<< HEAD

    .promo__img{
        width: 50%;
        height: auto;

        @include mobile{
            display: none;
        }
    }
=======
>>>>>>> main
}


