.registration{
  margin: 0 0 30px;
.registration__heading {
    background: #F8F3F4;
    min-height: 150px;
    display: flex;
    align-items: center;
}

.registration__heading-titel {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: $dark-pink;
    text-transform: uppercase;
}

.registration__form {
    display: flex;
    justify-content: space-between;

    @include mobile{
      flex-direction: column;
    }

}

.registration__form-option {
    display: flex;
    flex-direction: column;
    width: 650px;

    @include mobile{
      width: 100%;
    }

}

.registration__form-data {
    display: flex;
    flex-direction: column;

    @include mobile{
      margin: 0 0 40px;
    }

}

.registration__heading_margin{
    margin: 0 0 50px;
}

.form__option-heading{

    @include font(24px, 1, 300);
    text-transform: uppercase;
    margin-bottom: 21px;

    @include tablet{
      @include font(16px, 19px, 300);
    }

}

.form__option-text{
    width: 630px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 21px;

    @include tablet{
      width: auto;
      @include font(16px, 19px, 300);
    }    

}

.form__option-item{
    margin-left: 32px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 16px;
    position: relative;

    @include tablet{
      width: auto;
      @include font(16px, 19px, 300);
    }    
}

.form__option-item:before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../img/option.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    position: absolute;
    left: -30px;
  }

  .form-data__name-text{

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 21px;

    
  }

  .form-data__name-input{
      width: 340px;
      height: 45px;
      margin-bottom: 21px;
      padding-left: 16px;

      @include mobile{
        width: 93%;
      }

  }

  [type="radio"] {
    display: none;
  }

  .form-data__radio{
        margin: 31px 0 31px;
  }

  .form-data__radio-text {

    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    margin-right: 20px;
    margin-left: 25px;
    position: relative;
  }
  
  .form-data__radio-text:before {
    content: '';
    width: 17px;
    height: 17px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    left: -30px;
  }

  [type="radio"]:checked+.form-data__radio-text:before{
    background: rgb(0, 0, 0);
  }

  .form-data__login{
  
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 21px;

        
  }
  
.form-data__text{
    width: 390px;

    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    color: $gray;
    margin: 0 0 40px;

    @include mobile{
      width: 93%;
    }
}

.form-data__button{
    width: 170px;
    height: 50px;
    border: none;
    background-color: $dark-pink;
    color: $white;
    text-transform: uppercase;


    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}}