.sub-footer {
    background-color: $dark-blue;

    .sub-footer__wrapper {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sub-footer__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: $white;
    }
    
    .sub-footer__media-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: white;
        border: none;
        margin-right: 8px;
    }
    
    .sub-footer__media-button:hover .media-button__icon {
        fill: $white;
    
    }
    
    .sub-footer__media-button:hover {
        background: $dark-pink;
    }
    
    .sub-footer__media {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

