.sub-footer {
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> main
>>>>>>> main
    background-color: $dark-blue;

    .sub-footer__wrapper {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> main

        @include mobile{
            flex-direction: column-reverse;
        }
<<<<<<< HEAD
=======
=======
>>>>>>> main
>>>>>>> main
    }
    
    .sub-footer__text {
        @include font(16px, 1);
        color: $white;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> main

        @include mobile{
            margin: 0 0 10px;
        }
<<<<<<< HEAD
=======
=======
>>>>>>> main
>>>>>>> main
    }
    
    .sub-footer__media-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background: white;
        border: none;
        margin-right: 8px;
    }
    
    .sub-footer__media-button:hover .media-button__icon {
        fill: $white;
    
    }
    
    .sub-footer__media-button:hover {
        background: $dark-pink;
    }
    
    .sub-footer__media {
        display: flex;
        justify-content: center;
        align-items: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> main

        @include mobile{
            margin: 40px 0 40px 0;
        }
<<<<<<< HEAD
=======
=======
>>>>>>> main
>>>>>>> main
    }
}

